body{
	margin:0px;
	padding:0px;
}
.cBar{
	height: 30px;
	width: 100%;
	background-color: #B5472D;
	color: white;

}
#barNav{
	position: absolute;
	top: -30px;
	left: 0px;
}
#barTop{
	position: absolute;
	top: 0px;
	left: 0px;
}
#barBot{
	position: absolute;
	top: -30px;
	left: 0px;
}
.barInner{
	width: 720px;
}
#field{
	background-color: #53c463;
}